__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
*.env
.env
.venv
venv/
ENV/
env/
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.coverage
.coverage.*
.cache/
.mypy_cache/
.pytest_cache/
.tox/
*.spec
*.orig
*.ipynb_checkpoints
.latest_commit_cache
app.log